[user]
	name = Canan Yavuz
	email = yavuzcanan15@gmail.com
[gui]
	recentrepo = "C:/Users/CANAN/Desktop/C#/Udemy Murat Yücedağ"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
